<div id="newsletter" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="newsletter">
                    <p>Đăng ký nhận <strong>KHUYỄN MÃI</strong></p>
                    <form>
                        <input class="input" name="email" type="email" placeholder="Nhập địa chỉ email">
                        <button class="newsletter-btn"><i class="fa fa-envelope"></i> Đăng ký</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
