<div id="header" style="padding-top:40px">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="header-logo">
                    <a href='' class="logo">
                        <img src="./images/logo.png" alt="">
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="header-search">
                    <form action="" role="search">
                        <input class="input" name="TuKhoa" placeholder="Nội dung tìm kiếm">
                        <button class="search-btn">Tìm kiếm</button>
                    </form>
                </div>
            </div>
            <div class="col-md-3">
                <div class="header-logo">
                    <NavLink href="" class="logo">
                        <img src="./images/logo.png" alt="">
                    </NavLink>
                </div>
            </div>
        </div>
    </div>
</div>