<nav id="navigation">
    <div class="container">
        <div id="responsive-nav">
            <ul class="main-nav nav navbar-nav">
                <li class="active">
                    <NavLink href="">Trang chủ</NavLink>
                </li>
                <li class="dropdown">
                    <NavLink class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Laptops
                        <span class="caret"></span>
                    </NavLink>
                    <ul class="dropdown-menu">
                        <li><a href="">Apple</a></li>
                        <li><a href="">Dell</a></li>
                        <li><a href="">Asus</a></li>
                    </ul>
                </li>
                <li>
                    <NavLink href="">Khuyến mãi</NavLink>
                </li>
                <li>
                    <NavLink href="">Hỏi đáp</NavLink>
                </li>
                <li>
                    <NavLink href="">Liên hệ</NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>