<div id="top-header" class="navbar-fixed-top">
    <div class="container">
        <ul class="header-links pull-left">
            <li><a href="#"><i class="fa fa-phone"></i> 1900 8198</a></li>
            <li><a href="#"><i class="fa fa-envelope-o"></i> electro@gmail.com</a></li>
        </ul>
        <ul class="header-links pull-right">
            <li>
                <NavLink id="GioHang" class="dropdown-toggle" href="">
                    <i class="fa fa-shopping-cart"></i><span>Giỏ hàng</span>
                </NavLink>
            </li>
            <li>
                <NavLink href=""><i class="fa fa-user-o"></i><span>Đăng ký</span></NavLink>
            </li>
            <li>
                <NavLink href=""><i class="fa fa-user-o"></i> Đăng nhập</NavLink>
            </li>
        </ul>
    </div>
</div>